[Unit]
Description=Forgejo PostgreSQL
Requires=var-lib-forge.mount
After=var-lib-forge.mount

[Container]
ContainerName=postgres
Image=docker.io/library/postgres:17.10
Network=forge.network
Volume=/var/lib/forge/pgdata:/var/lib/postgresql/data:Z
Environment=POSTGRES_DB=forgejo
Environment=POSTGRES_USER=forgejo
Secret=forgejo-db-password,type=env,target=POSTGRES_PASSWORD

[Service]
Restart=always

[Install]
WantedBy=multi-user.target
